@use "sass:list";

$numbers: 10px, 12px, 16px;
@debug list.nth($numbers, 2); // список, порядковий номер

$colors: tomato, darkblue, brown;
@debug list.length($colors);

$sizes: 40px, 50px, 60px;
@each $size in $sizes {
    .icon-#{size} {
        font-size: $size;
        width: $size;
        height: $size;
    }
}

$button-types: ".btn-sm", ".btn-md", ".btn-lg", ".btn-xl";

@mixin btn-size($types) {
    @for $i from 1 through list.length($button-types) {
        #{list.nth($types, $i)} {
            $factor: ($i * 5 - 5);

            padding: (5px + $factor) (10px + $factor);
            border-radius: (10px + $factor);
        }
    }
}

@include btn-size($button-types);