$base-weight: 400;

@for $i from 0 through 3 {
    // @debug $i;

    .fw-#{$base-weight + ($i * 100)} {
        font-weight: #{$base-weight + ($i * 100)};
    }
}

// @for $i from 0 to 3 {
//     @debug $i
// }

// $n: 0;

// @while $n < 4 {
//     @debug $n;
//     $n: $n + 1;
// }