@use "sass:math";

@mixin avatar ($size, $circle: false) {
    width: $size;
    height: $size;

    @if $circle {
        border-radius: 50%;
    }
}

.square-avatar {
    @include avatar(100px);
}

.circle-avatar {
    @include avatar(100px, $circle: true);
}

@mixin fonts($fs, $fw: null, $lh: null, $ls: null, $align: null) {
    font-size: $fs;
    @if $fw {
        font-weight: $fw;
    }

    @if $lh {
        @if $lh == normal {
            line-height: normal;
        } @else if math.unit($lh) == "px" {
            line-height: calc($lh / $fs);
        } @else {
            @error "$lh value #{$lh} is incorrect";
        }
    }

    @if $ls {
        @if $ls == normal {
            letter-spacing: normal;
        } @else if math.unit($ls) == "px" {
            letter-spacing: #{calc($ls / $fs)}em;
        } @else {
            @error "$ls value #{$ls} is incorrect";
        }
    }

    @if $align {
        text-align: $align;
    }
}

.title {
    @include fonts(20px, $lh:28px, $ls:0.5px, $align:center);
}