%notification {
  display: flex;
  align-items: center;
  gap: 20px;

  width: 480px;
  padding: 20px;

  font-family: Montserrat;
  color: #fafafb;
  font-size: 16px;
  line-height: 20px; /* 125% */
  letter-spacing: 0.5px;

  background-color: #92929d;
  border-radius: 6px;

//   @media screen and (min-width: 768px) {
//     padding: 24px; // правильно
//   }
}

//   @media screen and (min-width: 768px) {
//       @extend // помилка (через область видимості)
//   }

.notification:not(:last-child) {
    margin-bottom: 20px;
}

.notification-text {
    margin: 0;
    flex: 1;
}

.notification-icon, .notification-btn-icon {
    fill: #fff
}

.notification-btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.notification-primary {
    @extend %notification;

    background-color: #f07f2e;
}

.notification-success {
    @extend %notification;

    background-color: #82c43c;
}

.notification-info {
    @extend %notification;

    background-color: #4e75ff;
}
