.notification-info, .notification-success, .notification-primary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 20px;
  width: 480px;
  padding: 20px;
  font-family: Montserrat;
  color: #fafafb;
  font-size: 16px;
  line-height: 20px; /* 125% */
  letter-spacing: 0.5px;
  background-color: #92929d;
  border-radius: 6px;
}

.notification:not(:last-child) {
  margin-bottom: 20px;
}

.notification-text {
  margin: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
          flex: 1;
}

.notification-icon, .notification-btn-icon {
  fill: #fff;
}

.notification-btn {
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.notification-primary {
  background-color: #f07f2e;
}

.notification-success {
  background-color: #82c43c;
}

.notification-info {
  background-color: #4e75ff;
}