// @use "utils";
// @use "base";
// @use "layout";
// @use "components";

// 1
// @use "--examples--/1/variables";
// @use "--examples--/1/button";
// @use "--examples--/1/btn-scema";
// @use "--examples--/1/base";


//2
// @use "--examples--/2/nesting";
// @use "--examples--/2/combinators";
// @use "--examples--/2/ampersand";


//3
// @use "--examples--/3/math";
// @use "--examples--/3/badge";

//4
// @use "--examples--/4/extend";

//5
// @use "--examples--/5/mixins";

//6
@use "--examples--/6/if";
@use "--examples--/6/each";
@use "--examples--/6/for";