// @use "utils";
// @use "base";
// @use "layout";
// @use "components";

// 1
// @use "--examples--/1/variables";
// @use "--examples--/1/button";
// @use "--examples--/1/btn-scema";
// @use "--examples--/1/base";


//2
@use "--examples--/2/";

